:host {
  display: inline-block;
  height: inherit;
  width: 50%;
  vertical-align:top;

  border: 1px solid black;

  ul {
    list-style-type: none;
  }

  @media screen and (max-width: 500px) {
    display: block;
    width: 100%;
  }
}

